<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JQuery-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/public/css/reView.css" type="text/css">
</head>

<body>
    <div style="width: 100%; text-align: center;">
        <h1>리뷰 등록</h1>
        
        <div style="margin-bottom: 20px;">
        <div class="select-box">
            
        </div>

        <div class="scroll-box">
            <% if(item.length > 0) { %>
            <li class="option selected" data-num="<%= item[0]._id %>">상품 번호 <%= item[0]._id %></li>
            <% for(var i = 1; i < item.length; ++i){ %>
                <% if(item.length > 4) return; %>
            <li class="option" data-num="상품 번호 <%= item[i]._id %>">상품 번호 <%= item[i]._id %></li>
            <% } %>

            <% } %>
           
        </div>
    </div>

        <table class="re-table">
            <tr>
                <td style="width: 100px; height: 50px;">제목</td>
                <td style="padding-left:5x; padding-right: 10px;"><input id="title" type="text"
                        style="border: 0; width: 95%; font-size: 15px;"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><textarea style="border: 0;" id="content" cols="100" rows="30"></textarea></td>
            </tr>
            <tr>
                <td>사진</td>
                <td style="word-break: break-all; width: 700px; text-align: left;">
                    <div class="img-wrap">
                        <div class="add-wrap">
                            <button class="add-img">+</button>
                        </div>
                    </div>
                    <form class="re-form" id='re-form' method="post" enctype='multipart/form-data'
                        action="/review_add/test/review">
                        <div class="img-input">
                            <input type="file" id="file" name="file[]" data-num="0" style="display: none;">
                    </form>
    </div>
    </td>
    </tr>

    </table>
    <button class="submit-review">등록하기</button>
    </div>



    <script>
        var file_id = 0;
        var file_count = 0;
        var is_selected = false;
        var img_files = [];

        review_get();

        //select 를 js로 만들어봄 
        //일반적 option의 경우 css 접근이 불가능함.

        function review_get(){
        $('.select-box').children().remove();
        $('.select-box').append(`<li>${$('.selected').text() }</li>`);

        }

        $('.select-box').on('click',function(){
           if(is_selected){
            $('.scroll-box').hide();
            is_selected = false;
           }else{
            $('.scroll-box').show();
            is_selected = true;
           }
        });

        $('.option').on('click',function(){
            $('.option').removeClass('selected');
            $(this).addClass('selected');
            $('.scroll-box').hide();
            is_selected = false;
            review_get ();
        });
        

    

        $('.add-img').on('click', function () {
            $("input[name='file[]']")[file_id].click();
        });


        function readInputFile(input) {
            if (!input.files[0].type.match('image.*')) {
                alert("이미지만 등록가능 합니다.")
                return;
            }
                
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        img_files.push(input.files[0].name);
                        $('.img-wrap').prepend(
                            `<div class="img-box">
                                <img src=${e.target.result} />
                            <button type="button" class="cancel-button" data-id = ${file_id}>X</button>
                            </div>`
                        );

                        $('.cancel-button').off().on('click', function () {
                           
                            $(this).parent().remove();

                            $("input[name='file[]']").eq([$(this).data('id')]).val('');
                            
                            

                            if (file_count < 4) {
                                $('.add-img').css('display', '');
                            }

                            file_count--;

                            var del_file = parseInt($(this).data('id')) % 4;
                            console.log(del_file);

                        });

                        ++file_id;
                        ++file_count;


                        $('.img-input').append(`
                               <input type="file" id="file" name="file[]" data-num=${file_id} style="display: none;">
                        `)

                        if (file_count >= 4) {
                            $('.add-img').css('display', 'none');
                        }


                      
                    }
                   
                    reader.readAsDataURL(input.files[0]);
                    };

                  
                }

     


        $(document).on('change', '#file',function(){
            readInputFile(this);
        });


        $('.submit-review').on('click', function () {
            var title = $('#title').val();
            var content = $('#content').val();
            var review_id = $('.selected').data('num');
       
        

            $.ajax({
                method: 'post',
                url: '/review',
                data: {
                    item_id : review_id,
                    img : img_files,
                    title: title,
                    content: content
                }
            }).done(function (결과) {
            }).fail(function (에러) {
                alert(에러);
            });

            $('.re-form').submit();

        });



    </script>
    
    </body>
    
    </html>